* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 24px;
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  background: #38bdf8;
  color: #0f172a;
  border-radius: 25px;
  cursor: pointer;
}

/* CARDS */
.card {
  background: #020617;
  margin: 40px auto;
  padding: 40px;
  width: 80%;
  border-radius: 15px;
}

/* SKILLS */
.skills {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skills span {
  background: #1e293b;
  padding: 8px 15px;
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.project {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #94a3b8;
}
